<% layout('/layouts/boilerplate') %>
<h1>
  <%= restaurant.name  %>
</h1>

<img src="<%= restaurant.image %> " alt="">

<h3><%= restaurant.location %> </h3>

<p>
  <%= restaurant.description %>
</p>

<p>
  <a href="/restaurants/<%= restaurant._id %>/edit ">Edit</a>
</p>

<p>
<form action="/restaurants/<%= restaurant._id %>?_method=delete" method="POST">
  <button>Delete</button>
</form>
</p>
<footer>
  <a href="/restaurants">View Restaurants!</a>
</footer>